In [1]:
import pandas as pd
import numpy as np
import mysql.connector

In [2]:
conn = mysql.connector.connect(
  host="localhost",
  db = "babynames",
  user="root",
  password="[insert password]"
)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [ ]:
babynames = pd.read_sql('SELECT * from vornamen', conn)

C:\Users\matte\AppData\Local\Temp\ipykernel_5636\4247649448.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  babynames = pd.read_sql('SELECT * from vornamen', conn)

In [ ]:
babynames.head()

   jahr_id  bezirk_id  geschlecht_bin    vorname  anzahl
0     1984        101               1    Andreas       4
1     1984        101               1      Bernd       1
2     1984        101               1  Christian       2
3     1984        101               1  Christoph       2
4     1984        101               1    Clemens       1

In [ ]:
genderneutral_names = pd.read_sql('SELECT v.vorname, count(v.anzahl) AS Anzahl, v.geschlecht_bin, v.jahr_id, v.bezirk_id FROM vornamen v JOIN geschlvorn g ON v.vorname = g.vorname GROUP BY v.vorname, v.geschlecht_bin, v.jahr_id, v.bezirk_id ORDER BY v.vorname;', conn)

C:\Users\matte\AppData\Local\Temp\ipykernel_5636\786899070.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  genderneutral_names = pd.read_sql('SELECT v.vorname, count(v.anzahl) AS Anzahl, v.geschlecht_bin, v.jahr_id, v.bezirk_id FROM vornamen v JOIN geschlvorn g ON v.vorname = g.vorname GROUP BY v.vorname, v.geschlecht_bin, v.jahr_id, v.bezirk_id ORDER BY v.vorname;', conn)

In [ ]:
genderneutral_names.head()

  vorname  Anzahl  geschlecht_bin  jahr_id  bezirk_id
0    Abir       1               1     2007        920
1    Abir       1               1     2015        209
2    Abir       1               1     2019        701
3    Abir       1               2     2004        601
4    Abir       1               2     2011        501

In [ ]:
genderneutral_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97275 entries, 0 to 97274
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   vorname         97275 non-null  object
 1   Anzahl          97275 non-null  int64
 2   geschlecht_bin  97275 non-null  int64
 3   jahr_id         97275 non-null  int64
 4   bezirk_id       97275 non-null  int64
dtypes: int64(4), object(1)
memory usage: 3.7+ MB

In [ ]:
#most_pop_malenames
male_names = pd.read_sql('SELECT DISTINCT jahr_id, vorname, anzahl FROM names_per_year WHERE geschlecht_bin = "1" ORDER BY Anzahl DESC;', conn)

C:\Users\matte\AppData\Local\Temp\ipykernel_5636\2392885378.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  male_names = pd.read_sql('SELECT DISTINCT jahr_id, vorname, anzahl FROM names_per_year WHERE geschlecht_bin = "1" ORDER BY Anzahl DESC;', conn)

In [ ]:
male_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82994 entries, 0 to 82993
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   jahr_id  82994 non-null  int64
 1   vorname  82994 non-null  object
 2   anzahl   82994 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.9+ MB

In [ ]:
male_names.groupby['jahr_id']

TypeError: 'method' object is not subscriptable

In [ ]:
#mostpop_femalenames
female_names = pd.read_sql('SELECT DISTINCT jahr_id, vorname, anzahl FROM names_per_year WHERE geschlecht_bin = "2" ORDER BY Anzahl DESC;', conn)

C:\Users\matte\AppData\Local\Temp\ipykernel_17032\786493315.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  female_names = pd.read_sql('SELECT DISTINCT jahr_id, vorname, anzahl FROM names_per_year WHERE geschlecht_bin = "2" ORDER BY Anzahl DESC;', conn)